<!DOCTYPE html>
<html>
  <head>
    <title>GroceryMap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= render "shared/login" %>
      <% else %>
        <%= render "shared/register" %>
      <% end %>
    </header>
    <div class= "container">
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p> 
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <h1><%= link_to "GroceryMap", :root, class: "logo" %></h1>
    </footer>
  </body>
</html>
